body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

header {
    background-color: #740404;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
    
}
.hero img{
    height: 225px;
    width: 223px;
}
.hero h1 {
    margin: 0;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.feature {
    text-align: center;
    width: 30%;
}

footer {
    background-color: #740404;
    color: white;
    text-align: center;
    padding: 10px 0;
}
