body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.display {
    background-color: #222;
    color: white;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.operator {
    background-color: #4bc269;
}

.operator:hover {
    background-color: #4bc269;
}

#equals {
    grid-column: span 2;
    background-color: #337fe8;
}

#equals:hover {
    background-color: #042c2b;
}

#clear {
    background-color: #ff3b30;
}

#clear:hover {
    background-color: #ff6b6b;
}
