body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

header h1 {
    margin: 10px 0 5px;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
    color: #777;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.about p {
    text-align: center;
    font-size: 1.1em;
    color: #666;
}

.portfolio-item {
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.portfolio-item p {
    font-size: 1em;
    color: #666;
}

.contact p {
    text-align: center;
    font-size: 1.1em;
    color: #666;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
